.page {
   padding: 0 2rem;
   grid-area: main;

   display: flex;
   flex-direction: column;
   align-items: center;
}

/*popular categories section on home page*/
.page .category-section {
   width: 100%;

   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 1rem;
}
