.main-nav {
   height: 4rem;
   padding-right: 2rem;

   grid-area: topnav;
   box-shadow: none;
}

.nav-icon-wrapper {
   display: flex;
   align-items: center;
   gap: 2.25rem;
}

.main-nav svg {
   cursor: pointer;
}

.search-bar {
   position: relative;

   display: flex;
   align-items: center;
   gap: 10px;
}

.search-bar svg {
   position: relative;
   right: 3rem;
}

.main-nav .avatar-sm {
   height: 2.15rem;
   width: 2.15rem;
   cursor: pointer;
}

.profile-wrapper {
   height: 4rem;

   display: flex;
   align-items: center;
}

.profile-wrapper:hover .profile-hover-area {
   visibility: visible;
}

.profile-hover-area {
   height: max-content;
   width: max-content;
   padding: 1.5rem 2.75rem;
   background-color: var(--PROFILE-HOVER-AREA-BG);
   border-radius: 10px;
   visibility: hidden;

   position: absolute;
   right: 1.5rem;
   top: 3.4rem;

   display: flex;
   flex-direction: column;
   gap: 1rem;
   z-index: 5;
}

.profile-hover-area > div {
   cursor: pointer;

   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}

/*media query*/
@media screen and (max-width: 900px) {
   .main-nav .search-bar {
      display: none;
   }

   .App > .search-bar {
      grid-area: searchbar;
      display: flex;
      gap: 0;

      margin-top: 0.8rem;
      margin-left: 7rem;
   }

   .App > .search-bar input {
      height: 2.3rem;
   }
}

/*media query*/
@media screen and (max-width: 500px) {
   .App > .search-bar {
      margin-left: 1.5rem;
   }

   .brand {
      margin-left: 1rem;
   }
}
