.iframe-wrapper {
   border-radius: 10px;
   height: 70vh;
   width: 100%;
   overflow: hidden;
}

iframe {
   width: 100%;
   height: inherit;
}

.video-details {
   width: 100%;
   display: flex;
   flex-direction: column;

   position: relative;
}

.video-details .video-content {
   display: flex;
   flex-direction: row;
}

.video-details .video-content img {
   margin-right: 1rem;
}

.video-details .icon-container {
   cursor: pointer;

   position: absolute;
   top: 20%;
   right: 0;

   display: flex;
   gap: 10px;
}

.video-page-icons {
   height: 2.2rem;
   width: 2.2rem;
   margin-left: 1rem;
}

/*media query*/
@media screen and (max-width: 500px) {
   .iframe-wrapper {
      height: 35vh;
   }

   .iframe-wrapper + .icon-wrapper {
      top: 54%;
      right: 7%;
   }

   .video-page-icons {
      margin-left: 5px;
   }
}
