aside {
   background: inherit;
   grid-area: aside;
}

.side-nav li {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;

   padding: 10px;
   cursor: pointer;
   border-radius: 5px;
}

.side-nav {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.side-nav li span {
   font-size: 1.15rem;
   background-color: transparent;
}

.active {
   background-color: var(--SIDEBAR-ACTIVE);
}

.dark-mode-active {
   background-color: var(--SIDEBAR-ACTIVE-DARK-MODE);
}

/*media query*/
@media screen and (max-width: 500px) {
   .side-nav {
      flex-direction: row;
      justify-content: space-evenly;
   }

   aside {
      background-color: inherit;
      width: 100%;

      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 5;
   }

   .pl-4 {
      padding-left: 0;
   }
}
