.playlist-page {
   padding: 0 2rem;
   grid-area: main;

   display: grid;
   grid-template-columns: 13.5rem 1fr;
}

.playlist-items {
   margin-top: 10px;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.playlist-page h6 {
   padding-bottom: 8px;
   border-bottom: 1px solid var(--GREY);
}

/*media query*/
@media screen and (max-width: 500px) {
   .playlist-page {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      gap: 1.5rem;
   }

   .playlist-page .video-section {
      justify-content: center;
   }

   .playlist-page .ml-3 {
      margin-left: 0;
   }

   .playlist-page > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .playlist-page ul {
      width: 62%;
   }
}
