:root {
   --MODAL-CONTAINER-BG: rgba(0, 0, 0, 0.4);
   --SIDEBAR-ACTIVE: rgba(0, 0, 0, 0.2);
   --SIDEBAR-ACTIVE-DARK-MODE: rgba(221, 186, 217, 0.21);
   --PROFILE-HOVER-AREA-BG: rgb(250, 218, 244);
   --DARK-MODE-BG: rgb(33, 33, 33);
}

.App {
   background-color: var(--WHITE);
   min-height: 100vh;
   width: 100%;
   display: grid;
   grid-template-columns: 14rem 1fr;
   grid-template-rows: 4.5rem 1fr auto;
   grid-template-areas:
      "topnav topnav"
      "aside main"
      "footer footer";
}

.dark-theme {
   background-color: var(--DARK-MODE-BG);
   color: var(--WHITE);
}

.avatar-sm {
   border: none;
}

.App > .search-bar {
   display: none;
}

/*media query*/
@media screen and (max-width: 900px) {
   .App {
      grid-template-columns: 5rem 1fr;
      grid-template-rows: 4rem auto 1fr auto;
      grid-template-areas:
         "topnav topnav"
         "searchbar searchbar"
         "aside main"
         "footer footer";
   }
}

@media screen and (max-width: 500px) {
   :root {
      font-size: 85%;
   }

   .App {
      grid-template-columns: 1fr;
      grid-template-rows: 4rem auto 1fr auto;
      grid-template-areas:
         "topnav"
         "searchbar"
         "main"
         "footer";
   }

   .page .video-section {
      justify-content: center;
   }
}
